# === Python / Flask ===
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
instance/
*.sqlite3
*.db

# === Terraform (НЕ коммитим бинарники, стейты, планы) ===
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
*.tfvars.json
.terraformrc
terraform.rc

# === OS / IDE ===
.DS_Store
.idea/
.vscode/

